<template name="trackedUsers">
    <h1 class="ui header">Users to Notify</h1>
    <div class="ui animated bulleted list">
	    {{#each tracked_users}}
		    <div class="item">
			    <div class="right floated content">
				    <div class="ui green circular button icon edit-user">
					    <i class="icon pencil"></i>
				    </div>
				    <div class="ui red circular button icon delete-user">
					    <i class="icon trash"></i>
				    </div>
			    </div>
			    <div class="content">
				    {{name}}
			    </div>
		    </div>
	    {{/each}}
    </div>
    <div class="ui button blue create-new">
	    Create New
    </div>
</template>
